{% extends "acelayout.html" %}

{% block pagetitle%}
	ACE - Home
{% endblock %}

{% block body %}
	<div>
		<h2>About</h2>
		<p><span>Automation Center for EDI (ACE) gives a hassle free experience of running EDI transactions.<br />
			The user of this tool should have access to Unix Environments for the selected regions.<br />
			This tool can be used to run more that 15 EDI transactions.<br /><br />
			The tool gives a detailed result for regression which can be further exported to Excel sheet.<br /></span>
		</p>
		<br /><br /><br /><br /><br /><br />
		<p><h4>Owned by - B2B CQA Team</h4></p>
	</div>
{% endblock %}